pddoc/share/pddoc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pddoc" type="RootElementType"/>

    <xs:simpleType name="ObjectNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^\s;]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XletType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="audio"/>
            <xs:enumeration value="control"/>
            <xs:enumeration value="gui"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ControlDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="bang"/>
            <xs:enumeration value="atom"/>
            <xs:enumeration value="int"/>
            <xs:enumeration value="float"/>
            <xs:enumeration value="list"/>
            <xs:enumeration value="symbol"/>
            <xs:enumeration value="pointer"/>
            <xs:enumeration value="any"/>
            <xs:enumeration value="data"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PropertyDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="atom"/>
            <xs:enumeration value="int"/>
            <xs:enumeration value="float"/>
            <xs:enumeration value="list"/>
            <xs:enumeration value="symbol"/>
            <xs:enumeration value="data"/>
            <xs:enumeration value="alias"/>
            <xs:enumeration value="flag"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ArgumentDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="atom"/>
            <xs:enumeration value="int"/>
            <xs:enumeration value="float"/>
            <xs:enumeration value="symbol"/>
            <xs:enumeration value="list"/>
            <xs:enumeration value="any"/>
             <xs:enumeration value="property"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UnitDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="herz"/>
            <xs:enumeration value="kiloherz"/>
            <xs:enumeration value="decibel"/>
            <xs:enumeration value="millisecond"/>
            <xs:enumeration value="bpm"/>
            <xs:enumeration value="second"/>
            <xs:enumeration value="percent"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LabelPos">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HexColor">
        <xs:restriction base="xs:string">
            <xs:pattern value="(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6})"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PdXletType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="sound"/>
            <xs:enumeration value="control"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XletNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="([\d]{1,2}|n|\.\.\.|.{0})"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="RootElementType">
        <xs:sequence>
            <xs:element name="object" type="ObjectType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="version" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9.]+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="ObjectTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="box"/>
            <xs:enumeration value="gui"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ObjectType">
        <xs:all>
            <xs:element name="title"/>
            <xs:element name="meta" type="MetaElementType"/>
            <xs:element name="example" type="ExampleElementType" minOccurs="0"/>
            <xs:element name="inlets" type="InletsElementType" minOccurs="0"/>
            <xs:element name="outlets" type="OutletsElementType" minOccurs="0"/>
            <xs:element name="arguments" type="ArgumentsElementType" minOccurs="0"/>
            <xs:element name="methods" type="MethodsElementType" minOccurs="0"/>
            <xs:element name="properties" type="PropertiesElementType" minOccurs="0"/>
            <xs:element name="info" type="InfoElementType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="name" use="required" type="ObjectNameType"/>
        <xs:attribute name="type" use="optional" type="ObjectTypeType" default="box"/>
    </xs:complexType>

    <xs:complexType name="MetaElementType">
        <xs:all>
            <xs:element name="authors" type="AuthorsElementType"/>
            <xs:element name="description"/>
            <xs:element name="license" type="LicenseElementType"/>
            <xs:element name="library" type="xs:string"/>
            <xs:element name="contacts" type="xs:string" minOccurs="0"/>
            <xs:element name="version" type="xs:string" minOccurs="0"/>
            <xs:element name="website" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="keywords" type="xs:string" minOccurs="0"/>
            <xs:element name="category" type="ObjectCategory" minOccurs="0"/>
            <xs:element name="aliases" type="AliasesElementType" minOccurs="0"/>
            <xs:element name="also" type="AlsoElementType" minOccurs="0"/>
            <xs:element name="since" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="ObjectCategoryView">
        <xs:restriction base="xs:string">
            <xs:enumeration value="object"/>
            <xs:enumeration value="link"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ObjectCategory">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="view" type="ObjectCategoryView" use="optional" default="object"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AuthorsElementType">
        <xs:sequence>
            <xs:element name="author" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LicenseElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="url" type="xs:anyURI" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AliasesElementType">
        <xs:sequence>
            <xs:element name="alias" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AlsoElementType">
        <xs:sequence>
            <xs:element name="see" minOccurs="0" maxOccurs="unbounded" type="SeeElementType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SeeElementType">
         <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="view" type="ObjectCategoryView" use="optional" default="object"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ExampleElementType">
        <xs:all>
            <xs:element name="pdexample" type="PdExampleType" minOccurs="0"/>
            <xs:element name="pdinclude" type="PdIncludeType" minOccurs="0"/>
            <xs:element name="pdascii" type="PdAsciiType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="PdAttrSize">
        <xs:restriction base="xs:string">
            <xs:enumeration value="auto"/>
            <xs:enumeration value="canvas"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PdIncludeType">
        <xs:attribute name="file" use="required" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="PdAsciiType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="x-pad" use="optional" type="xs:unsignedShort" default="20"/>
                <xs:attribute name="y-pad" use="optional" type="xs:unsignedShort" default="20"/>
                <xs:attribute name="x-space" use="optional" type="xs:float" default="1.2"/>
                <xs:attribute name="y-space" use="optional" type="xs:float" default="1.2"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PdExampleType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="col" minOccurs="0" maxOccurs="1" type="LayoutCol"/>
                <xs:element name="row" minOccurs="0" maxOccurs="1" type="LayoutRow"/>
            </xs:choice>
            <xs:element name="pdconnect" type="PdConnectType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="title" type="xs:string" use="optional"/>
        <xs:attribute name="width" use="optional" type="xs:unsignedShort"/>
        <xs:attribute name="height" use="optional" type="xs:unsignedShort"/>
        <xs:attribute name="size" use="optional" type="PdAttrSize"/>
    </xs:complexType>

    <xs:complexType name="LayoutCol">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="row" type="LayoutRow"/>
            <xs:element name="pdmessage"/>
            <xs:element name="pdcomment" type="PdCommentElementType"/>
            <xs:element name="pdobject" type="PdObjectElementType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="LayoutRow">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="col" type="LayoutCol"/>
            <xs:element name="pdmessage"/>
            <xs:element name="pdcomment" type="PdCommentElementType"/>
            <xs:element name="pdobject" type="PdObjectElementType"/>
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="PdCommentElementType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="PdConnectType">
        <xs:attribute name="src" use="required" type="xs:IDREF"/>
        <xs:attribute name="src_out" use="required" type="xs:unsignedByte"/>
        <xs:attribute name="dest" use="required" type="xs:IDREF"/>
        <xs:attribute name="dest_in" use="required" type="xs:unsignedByte"/>
    </xs:complexType>

    <xs:complexType name="InletsElementType">
        <xs:sequence>
            <xs:element name="inlet" minOccurs="0" maxOccurs="unbounded" type="InletElementType"/>
        </xs:sequence>
        <xs:attribute name="dynamic" use="optional" type="xs:boolean" default="false"/>
    </xs:complexType>

    <xs:complexType name="OutletsElementType">
        <xs:sequence>
            <xs:element name="outlet" minOccurs="0" maxOccurs="unbounded" type="OutletElementType"/>
        </xs:sequence>
        <xs:attribute name="dynamic" use="optional" type="xs:boolean" default="false"/>
    </xs:complexType>

    <xs:complexType name="InletElementType">
        <xs:sequence>
            <xs:element name="xinfo" type="InletInfoType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="type" use="optional" type="XletType" default="control"/>
        <xs:attribute name="number" use="optional" type="XletNumber" default=""/>
    </xs:complexType>

    <xs:complexType name="InletInfoType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="on" use="optional" type="ControlDataType"/>
                <xs:attribute name="minvalue" use="optional" type="xs:float"/>
                <xs:attribute name="maxvalue" use="optional" type="xs:float"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="OutletElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" use="optional" type="XletType" default="control"/>
                <xs:attribute name="minvalue" use="optional" type="xs:float"/>
                <xs:attribute name="maxvalue" use="optional" type="xs:float"/>
                <xs:attribute name="number" use="optional" type="XletNumber" default=""/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ArgumentsElementType">
        <xs:sequence>
            <xs:element name="argument" type="ArgumentElementType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MethodsElementType">
        <xs:sequence>
            <xs:element name="method" type="MethodElementType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PropertiesElementType">
        <xs:sequence>
            <xs:element name="property" type="PropertyElementType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArgumentElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="xs:string"/>
                <xs:attribute name="type" use="required" type="ArgumentDataType"/>
                <xs:attribute name="units" use="optional" type="UnitDataType"/>
                <xs:attribute name="minvalue" use="optional" type="xs:float"/>
                <xs:attribute name="maxvalue" use="optional" type="xs:float"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="MethodArgumentElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="optional" type="xs:string"/>
                <xs:attribute name="type" use="required" type="ArgumentDataType"/>
                <xs:attribute name="units" use="optional" type="UnitDataType"/>
                <xs:attribute name="minvalue" use="optional" type="xs:float"/>
                <xs:attribute name="maxvalue" use="optional" type="xs:float"/>
                <xs:attribute name="default" use="optional" type="xs:string"/>
                <xs:attribute name="enum" use="optional" type="xs:string"/>
                <xs:attribute name="required" use="optional" type="xs:boolean"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="MethodElementType" mixed="true">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="param" type="MethodArgumentElementType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="PropertyElementType" mixed="true">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="PropertyDataType" use="required"/>
        <xs:attribute name="readonly" type="xs:boolean" default="false"/>
        <xs:attribute name="units" use="optional" type="UnitDataType"/>
        <xs:attribute name="minvalue" use="optional" type="xs:float"/>
        <xs:attribute name="maxvalue" use="optional" type="xs:float"/>
        <xs:attribute name="default" use="optional" type="xs:string"/>
        <xs:attribute name="enum" use="optional" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="InfoElementType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="par" type="MarkupText"/>
            <xs:element name="itemize" type="MarkupItemize"/>
            <xs:element name="pdobject" type="PdObjectElementType"/>
            <xs:element name="pdsubpatch" type="PdObjectElementType"/>
            <xs:element name="a" type="MarkupA" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="MarkupItemize">
        <xs:sequence>
            <xs:element name="item" minOccurs="1" maxOccurs="unbounded" type="MarkupItem"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MarkupText">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="MarkupItem" mixed="true">
        <xs:sequence>
            <xs:element name="a" type="MarkupA" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MarkupA">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="href" use="required" type="xs:anyURI"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PdObjectElementType">
        <xs:sequence>
            <xs:element name="pdinlet" type="PdXletElementType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="pdoutlet" minOccurs="0" maxOccurs="unbounded" type="PdXletElementType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="name" type="ObjectNameType" use="required"/>
        <xs:attribute name="args" type="xs:string" use="optional"/>
        <xs:attribute name="comment" type="xs:string" use="optional"/>
        <xs:attribute name="highlight" type="xs:boolean" use="optional"/>
        <xs:attribute name="bg_color" type="HexColor" use="optional"/>
        <xs:attribute name="offset" type="xs:decimal" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>
        <xs:attribute name="digits" type="xs:unsignedByte" use="optional"/>
        <xs:attribute name="label" type="xs:string" use="optional"/>
        <xs:attribute name="label_pos" type="LabelPos" use="optional"/>
    </xs:complexType>

    <xs:complexType name="PdXletElementType">
        <xs:attribute name="type" type="PdXletType" use="required"/>
    </xs:complexType>

</xs:schema>